Ex 4.6 Creating a Common Identifier Column to Merge DataFrames - ORDERS

This script contains the following:
1. Import Libraries
2. Create Path
3. Import Data
4. Check the dimension of the imported data frame
5. Merge this new dataframe with df_ords dataframe and use indicator argurment to check for full match
6. Export Data in Pickle (.pkl) format

1. ***Import Libraries***

In [4]:
import pandas as pd
import numpy as np
import os

2. ***Create Path***

In [6]:
path=r'C:\Users\lisac\10-10-2024 Instacart Basket Analysis'

3. ***Import Data***

In [8]:
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col=0)

df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))

4. ***Check Dimensions***

In [10]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
#Check the output
df_ords.head()

,order_id,customer_id,order_number,order_hour_of_day,days_since_prior_order,order_day_of_week_name,is_first_order
0,2539329,1,1,8,0.0,Tuesday,1
1,2398795,1,2,7,15.0,Wednesday,0
2,473747,1,3,12,21.0,Wednesday,0
3,2254736,1,4,7,29.0,Thursday,0
4,431534,1,5,15,28.0,Thursday,0

In [12]:
df_ords_prior.shape

(32434489, 4)

In [13]:
df_ords.shape

(3421083, 7)

5. ***Merge New DataFrame with df_ords DataFrame***

In [15]:
df_merged_large=df_ords.merge(df_ords_prior, on='order_id', indicator=True)

In [16]:
#Check output
df_merged_large.head()

,order_id,customer_id,order_number,order_hour_of_day,days_since_prior_order,order_day_of_week_name,is_first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,8,0.0,Tuesday,1,196,1,0,both
1,2539329,1,1,8,0.0,Tuesday,1,14084,2,0,both
2,2539329,1,1,8,0.0,Tuesday,1,12427,3,0,both
3,2539329,1,1,8,0.0,Tuesday,1,26088,4,0,both
4,2539329,1,1,8,0.0,Tuesday,1,26405,5,0,both

In [17]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

6. ***Export Data in .pkl format***

In [19]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))